:root {
  --blue1: rgb(237, 247, 252);
  --blue2: rgb(167, 213, 241);
  --blue3: rgb(96, 178, 229);
  --blue4: rgb(34, 143, 211);
  --blue5: rgb(23, 95, 140);
  --blue6: rgb(11, 48, 70);
  --grey1: rgb(245, 245, 245);
  --grey2: rgb(204, 204, 204);
  --grey3: rgb(163, 163, 163);
  --grey4: rgb(122, 122, 122);
  --grey5: rgb(82, 82, 82);
  --grey6: rgb(41, 41, 41);
  --purple1: rgb(247, 239, 251);
  --purple2: rgb(213, 173, 235);
  --purple3: rgb(180, 108, 218);
  --purple4: rgb(144, 49, 196);
  --purple5: rgb(96, 33, 131);
  --purple6: rgb(48, 16, 65);
  --red1: rgb(253, 237, 238);
  --red2: rgb(244, 164, 171);
  --red3: rgb(235, 92, 104);
  --red4: rgb(218, 27, 43);
  --red5: rgb(145, 18, 29);
  --red6: rgb(73, 9, 14);
  --white: #fff;
  --black: #000;
}
